<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>student_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>f1</filter-name>
    <filter-class>com.yx.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo01</display-name>
    <servlet-name>ServletDemo01</servlet-name>
    <servlet-class>com.yx.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.yx.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllStudents</display-name>
    <servlet-name>FindAllStudents</servlet-name>
    <servlet-class>com.yx.servlet.FindAllStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllStudents</servlet-name>
    <url-pattern>/FindAllStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteById</display-name>
    <servlet-name>DeleteById</servlet-name>
    <servlet-class>com.yx.servlet.DeleteById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteById</servlet-name>
    <url-pattern>/DeleteById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryById</display-name>
    <servlet-name>QueryById</servlet-name>
    <servlet-class>com.yx.servlet.QueryById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryById</servlet-name>
    <url-pattern>/QueryById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateById</display-name>
    <servlet-name>UpdateById</servlet-name>
    <servlet-class>com.yx.servlet.UpdateById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateById</servlet-name>
    <url-pattern>/UpdateById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdatePwd</display-name>
    <servlet-name>AdminUpdatePwd</servlet-name>
    <servlet-class>com.yx.servlet.AdminUpdatePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdatePwd</servlet-name>
    <url-pattern>/AdminUpdatePwd</url-pattern>
  </servlet-mapping>
</web-app>